registry=https://registry.npmmirror.com/

# 解决 CERT_HAS_EXPIRED / TLS 问题常用
strict-ssl=false

# 网络慢时提高稳定性
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000


# bun/npm/pnpm 通用
fund=false
audit=false